/* remove default browser spacing*/
* {
  margin: 0px;
  padding: 0px;
}
header{
  background-color: rgb(75, 13, 175);
  height: 5em;
}

img{
  height: 4em;
  padding-right: 600px;
}

.logo{
  text-align: left;
  
}

.nav-bar, ul{
  display: flex;
  list-style-type: none;
  padding-right: 10px;
  text-align: right;
  justify-content: flex-end;
  padding-top: 10px;
  gap: 10px;
}

a{
  text-decoration: none;
  color: white; 
}

a:hover{
  color: rgb(16, 160, 192);
  font-size: 1.5em;
  cursor: pointer;
}
li{
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.homesection{
  background-color: whitesmoke;
  box-shadow: 5px 10px 0px rgba(0, 0, 0, 0.1);
  height: 15em;
}
.aboutsection{
  background-color: rgb(16, 160, 192);
  box-shadow: 5px 10px 0px rgba(0, 0, 0, 0.1);
  height: 600px;
  margin-top: 15px;
}

.aboutpar{
  color: rgb(7, 36, 66);
}

h2{
  color:  white;
  background-color: rgb(7, 36, 66);
  width: 50%;
  margin-left:270px;
  margin-top: 20px;
  text-align: center;
  text-shadow: 2px 2px 2px black ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 3em;
  padding-top: 5px;
}

h1{
  color:  rgb(75, 13, 175);
  text-align: center;
  text-shadow: 2px 2px 2px black ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 3em;
  padding-top: 20px;
}

p{
  font-size: 2em;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(16, 160, 192);
  font-weight: bolder;
  padding-top: 20px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 1.5rem 0;
  justify-content: center;
}

.skills-list li {
  flex: 0 0 calc(33.333% - 10px); /* 3 items per row */
  background-color: #f0f0f0;
  padding: 12px 18px;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 2em;
  box-shadow:5px 10px 0px rgba(17, 7, 53, 0.1);
  transition: background-color 0.3s;
  color: blue;
  font-family: sans-serif;
}

.skills-list li:hover {
  background-color: rgb(16, 160, 192);
}


.contact-section{
  text-align: center;
  height: 400px;
 
  
}
.contact-link{
  color: blue;
}

h3{
  font-size: 2.5em;
}

footer{
  background-color: black;
}

/*title text style*/
/* the font-family 'JetBrains Mono', has been linked
 * and is available for your use
 * */
